html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #efefef;
  color: #222;
  padding: 0 1.5em 1em 1.5em;
  z-index: 1000;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  color: #222;
  text-align: center;
}

header a h1 {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 0.4em;
  padding: 0;
  color: #333;
}

#tbLegislacao {
  margin-top: 1em;
}

#tbLegislacao_wrapper > div:nth-child(1) {
  margin-top: 6em;
  margin-bottom: 0em;
}

#toTop {
  display: inline-block;
  background-color: #007bff;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
#toTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 2em;
  color: #fff;
}
#toTop:hover {
  cursor: pointer;
  background-color: #333;
}
#toTop:active {
  background-color: #555;
}
#toTop.show {
  opacity: 1;
  visibility: visible;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 0.4em;
  padding: 0;
}

#creditos,
#sobre,
#referencias {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

footer a {
  color: #222;
  text-decoration: none;
}

footer a:hover {
  color: #333;
  text-decoration: underline;
}

a {
  color: #007bff;
  text-decoration: none;
}

table a:hover {
  color: #0056b3;
  text-decoration: underline;
}
table a:active {
  color: #0056b3;
  text-decoration: underline;
}

table a:visited {
  color: #007bff;
  text-decoration: none;
}

.section-referencias {
  font-size: 90%;
}

nav.repo {
  float: right;
}

.repo a,
.repo a:visited,
.repo a:active {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}

.repo a:hover {
  color: #555;
}

nav {
  display: flex;
  width: 80vw;
  justify-content: flex-start;
  margin-bottom: 1vw;
  margin-top: 0.7vw;
}

nav a {
  margin-right: 2vw;
  color: #555;
}

nav a:hover {
  color: #007bff;
}

i.nota {
  font-size: 0.8em;
  color: #666;
}

.situacao {
  min-width: 30vw;
  max-width: 40vw;
}

.dispositivo {
  min-width: 35vw;
  max-width: 45vw;
}
